@charset "utf-8";
body { 
	margin: 0px;
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
	background-image: url("images/background.jpg");
	-webkit-background-size: cover; /*Css safari e chrome*/
  	-moz-background-size: cover; /*Css firefox*/
  	-ms-background-size: cover; /*Css IE */
  	-o-background-size: cover; /*Css Opera*/
	display: grid;
	grid-row-gap: 40px;
	grid-row: auto; 
	grid-template-areas: 
		'header'
		'main'
		; 
}

#cabeçalho {
	grid-area: header; 
	max-width:100%;
	height:170px;
	background-image: url("images/background_header.jpg");
	background-repeat: repeat;
	border-bottom: 4px solid #FFFFFF
	
}

#logo { 
	background-image: url("images/logo.png");
	position: absolute;
  	width: 100%;
	height: 100%; 
 	top: 0px;  
  	bottom: 0px;
  	left: 0px;
	background-repeat: no-repeat;
} 

#estilomenu a{
	position: absolute;
	left: -340px;
	transition: 0.3s;
	padding: 5px;
	width: 350px;
	border-radius: 0 5px 5px 0;
	font-family: Arial Black;
	font-style: normal; 
	font-size: 45px;
	
}

#estilomenu a:hover{ 
left: 0;
}

#menu1 {
	border: 1px solid;
	color: white; 
	text-shadow: 0px 2px 3px #000000;
	top: 300px; 
	background-color: #72B508;
	text-decoration: none
	}

#menu2 {
	border: 1px solid;
	color: white; 
	text-shadow: 0px 2px 3px #000000;
	top: 365px; 
	background-color: #72B508;
	text-decoration: none;
	}

#backgroundconteudo{
	background-color: #72B508;
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	border-radius: 10px;
	grid-area: main;
	padding: 5px;
	border: 4px solid #FFFFFF;
}

#titulo{
	font-family: Arial Black;
	font-style: normal; 
	border-bottom: 4px #FFFFFF;
	font-size: 20px;
	color: white; 
	text-shadow: 0px 2px 3px #000000;
	
}

#conteudo{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: normal;
	font-size: 15px;
		
}

#creditos{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-style: normal;
	bottom: 0;
	left: 0;
	width: 100%;
	position: fixed;
	text-align: center;
}
